@model IEnumerable<DesafioPractico.Models.Familia>

@{
    ViewData["Title"] = "Index";
}

<h1>Familias</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaBaja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaBaja)
            </td>
            <td>
                <a asp-action="Edit"class ="btn btn-warning " asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" class="btn btn-primary " asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" class="btn btn-danger " asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
